.out{outline: 1px solid black;}
.d-flex{ display: flex; }
.container{
	max-width: 1200px;
	margin: auto;	
}
.w-40{width: 40%;}
.w-60{width: 60%;}
.menu li { 
	list-style-type: none;
	margin-right: 45px; 
}
.menu li a{ 
	text-decoration: none;
	font: 400 16px "Titillium Web";
	line-height: 18px;
	color: #ffffff;
	font-weight: 400;
 }

.active{
	background-color: #643a79;
 	border-radius: 4px; 
    padding: 10px 15px;
}

.menu { float: right; }
.pt-60 { padding-top: 60px; }

.header{ 
	background-color: #87509c;
	height: 600px; 
}

